
@{
    ViewBag.Title = "Index";
}

<h2>CSEC </h2>
<h5>ASTU</h5>

<div>
    @Html.ActionLink("Pre-Engineering", "pre", "Home", null, new { @class = "btn btn-primary btn-lg btn-block" })
    @Html.ActionLink("School of Applied Natural Sciences(soANS) ", "applied", "Home", null, new { @class = "btn btn-info btn-lg btn-block" })
    @Html.ActionLink(" School of Electrical Engineering and Computing(soEEC)", "elec", "Home", null, new { @class = "btn btn-success btn-lg btn-block" })
    @Html.ActionLink("School of Mechanical, Chemical and Materials Engineering(soMCME) ", "mech", "Home", null, new { @class = "btn btn-primary btn-lg btn-block" })
    @Html.ActionLink("School of Civil Engineering and Architecture(soCEA)", "civil", "Home", null, new { @class = "btn btn-danger btn-lg btn-block" })
</div>